/* General */
/* modo oscuro (default) */
:root{
    --background-image: url(../media/img/background1.png);
    --background-color: black;
    --border-color: white;
}

/* modo claro */
.lightmode{
    --background-image: url(../media/img/background2.avif);
    --background-color: white;
    --border-color: black;
}

/* Fuentes */
@font-face{
    font-family: "publicPixel";
    src: url("../media/fonts/publicPixel.ttf");
}

/* General */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* en general incluirá anchos y altos dentro de sus contenedores evitando desbordamientos */
}

/* Cuerpo y componentes */
body{
    width: 100vw;
    min-height: 100vh; /* Para evitar colapsos */
    background: var(--background-color);
    background-image: var(--background-image);

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;

    padding: 20px;
    gap: 5px;
    overflow-x: hidden; /* Evita el scrollbar horizontal global */
}

/* Título y carrusel*/
header{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 8em;
    text-align: center;
    font-family: publicPixel;
}

#titulo1{
    color:#F83B3A;
}
#titulo2{
    color:#EBDF64;
}
#titulo3{
    color: #279F00;
}
#titulo4{
    color: #DB55DD;
}
#titulo5{
    color: #5353F1;
}
#titulo6{
    color: #42E9F4;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100vw;
}


/* Jugadores */
.puntuaciones{
    border-radius: 0px;
    border: 10px solid;

    text-align: center;
    font-family: publicPixel;
    font-size: 1.9em;

    padding: 20px;
    width: 22vw;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jugador1{
    color: #279F00;
    background-color: transparent;
    border-color: #279F00;
}

#jugador2{
    color:#42E9F4;
    background-color: transparent;
    border-color: #42E9F4;
}


/* Tablero */
#casillero{
    background-color: var(--background-color);
    border: 5px solid var(--border-color);
   
    width: 500px;
    height: 500px;

    display: grid;
}

.casilla{
    border: 1px solid var(--border-color);

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* esto es lo que evita que el texto interior haga la casilla gigante */
    min-width: 0;
    min-height: 0;

    font-family: publicPixel;
    font-size: 1.5em;
}

.casilla.jugador1 {
  background-color: #279F00;
}

.casilla.jugador2 {
  background-color: #42E9F4;
}

.casilla.seleccion-j1 {
    background-color: #163d08;
}

.casilla.seleccion-j2 {
    background-color: #103436;
}

.casilla.marcado-oso {
  background-color: grey; /* Color cuando forma OSO, por ejemplo */
}

/* Esto se hace mucho más fácil con combinación de selectores en lugar de en JS */
/* SIN EL ESPACIO NO DETECTA QUE CASILLA ES HIJO DE CASILLERO QUE ES PADRE Y NO FUNCIONA */
#casillero.turnoJ1 > .casilla:hover{ 
    background-color: #279F00;
}

#casillero.turnoJ2 > .casilla:hover{
    background-color: #42E9F4;
}


/* Footer */
footer{
    color: var(--border-color);
    text-align: center;
    font-family: publicPixel;
    font-style: italic;
    padding-top: 50px;
}
