.carousel {
    margin: 100px auto;
    width: 100vw;
    border: 5px solid transparent;
    display: flex;
    overflow-x: auto;
}

.carousel::-webkit-scrollbar {
    display: none; /* para quitar la barrita de scroll */
}

.group{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1em;
    animation: spin 5s infinite linear;
    padding-right: 1em; /* para salvar el hueco entre grupos */
}

.card {
    flex: 0 0 5em; /* para que se "salga" del contenedor al final de la pantalla */
    height: 5em;
    padding: 1em;
    background: cornflowerblue;
    font-size: 3rem;
    border-radius: .2em;
    text-align: center;
    align-content: center;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}