/* Fuentes */
@font-face{
    font-family: "publicPixel";
    src: url("media/fonts/publicPixel.ttf");
}

/* General */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box; /* en general incluirá anchos y altos dentro de sus contenedores evitando desbordamientos */
}

/* Cuerpo y componentes */
body{
    width: 100vw;
    min-height: 100vh; /* Para evitar colapsos */
    background: black;
    background-image: url(media/img/background.png);

    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-content: space-between;

    padding: 20px;
    gap: 5px;
    overflow-x: hidden; /* Evita el scrollbar horizontal global */
}

/* Título y carrusel*/
header{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 8em;
    text-align: center;
    font-family: publicPixel;
}

.carrusel {
    width: 100%;
    overflow: hidden;
    display: flex;
    margin: 20px 0;
}

.carrusel::-webkit-scrollbar {
    display: none; /* para quitar la barrita de scroll */
}

.grupoImagenes{
    display: flex;
    align-items: center;
    gap: 20px; /* separación entre cartas */

    /* para que ocupe todo el ancho de la pantalla y se repartan acordemente */
    min-width: 100%; 
    justify-content: space-around;

    animation: spin 12s infinite linear;
    flex-shrink: 0;
    padding-right: 1em; /* para salvar el hueco entre grupos */
}

.imagen {
    width: 90px;
    height: 90px;
    flex-shrink: 0; /* esto evita que se aplasten las img entre ellas */

    display: flex;
    text-align: center;
    align-content: center;
}

.imagen > img{
    width: 100%;
    height: 100%;
    object-fit: contain; /* para que la imagen rellene todo el contenedor sin deformarse */ 
    display: block;
}

@keyframes spin {
    from {translate: 0;}
    to {translate: -100%;}
}

#titulo1{
    color:#F83B3A;
}
#titulo2{
    color:#EBDF64;
}
#titulo3{
    color: #279F00;
}
#titulo4{
    color: #DB55DD;
}
#titulo5{
    color: #5353F1;
}
#titulo6{
    color: #42E9F4;
}



main{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}


/* Jugadores */
.puntuaciones{
    border-radius: 0px;
    border: 10px solid;

    text-align: center;
    font-family: publicPixel;
    font-size: 1.9em;

    padding: 20px;
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jugador1{
    color: #279F00;
    background-color: transparent;
    border-color: #279F00;
}

#jugador2{
    color:#42E9F4;
    background-color: transparent;
    border-color: #42E9F4;
}


/* Tablero */
#casillero{
    background-color: black;
    border: 5px solid white;
   
    padding: 0;
    width: 500px;
    height: 500px;

    display: grid;
}

.casilla{
    border: 1px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* esto es lo que evita que el texto interior haga la casilla gigante */
    min-width: 0;
    min-height: 0;
}

/* Esto se hace mucho más fácil con combinación de selectores en lugar de en JS */
/* SIN EL ESPACIO NO DETECTA QUE CASILLA ES HIJO DE CASILLERO QUE ES PADRE Y NO FUNCIONA */
#casillero.turnoJ1 > .casilla:hover{ 
    background-color: #279F00;
}

#casillero.turnoJ2 > .casilla:hover{
    background-color: #42E9F4;
}

.input_casilla{
    width: 100%;
    height: 100%;

    border: none;
    background: transparent; 
    color: white;
    text-align: center;

    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    outline: none; /* le quita el borde al pulsar en cada casilla*/
    cursor: pointer; /* esto cambia el símbolo del ratón */
}


/* Footer */
footer{
    color: white;
    text-align: center;
    font-family: publicPixel;
    font-style: italic;
    padding-top: 50px;
}
