/* Fuentes */
@font-face{
    font-family: "Pretendo";
    src: url("media/fonts/pretendo.ttf");
}

@font-face{
    font-family: "play";
    src: url("media/fonts/play.otf");
}

/* General */
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

/* Título multicolor */
header{
    display: flex;
    justify-content: center;
    margin-bottom: 30px;
    font-size: 8em;
    text-align: center;
    font-family: play;
}

#titulo1{
    color:#de0029;
}
#titulo2{
    color:#326db3;
}
#titulo3{
    color: #00AA9E;
}
#titulo4{
    color: #f3c202;
}

/* Cuerpo y componentes */
body{
    width: 100vw;
    height: 100vh;
    background: black;

    display: flex;
    flex-direction: column;
    justify-content: center;
    
    padding: 20px;
    gap: 20px;
}

main{
    display: flex;
    justify-content: space-around;
    align-items: stretch;
    width: 100%;
}


/* Jugadores */
.puntuaciones{
    color: white;
    border: 5px solid white;
    border-radius: 20px;

    text-align: center;
    font-family: play;
    font-size: 2.5em;

    padding: 20px;
    width: 350px;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#jugador1{
    background-color: #326db3;
}

#jugador2{
    background-color: #de0029;
}


/* Tablero */
#casillero{
    color: black;
    background-color: black;
    border: 5px solid white;
   
    padding: 0;
    width: 500px;
    height: 500px;

    display: grid;
}

.casilla{
    border: 1px solid white;

    display: flex;
    justify-content: center;
    align-items: center;
    
    /* esto es lo que evita que el texto interior haga la casilla gigante*/
    min-width: 0;
    min-height: 0;
}

.input_casilla{
    width: 100%;
    height: 100%;

    border: none;
    background: transparent; 
    color: white;
    text-align: center;

    font-size: 1em;
    font-weight: bold;
    text-transform: uppercase;
    outline: none; /* le quita el borde al pulsar en cada casilla*/
    cursor: pointer; /* esto cambia el símbolo del ratón */
}

.casilla:hover{
    background-color: #326db3;
}

/* Footer */
footer{
    color: white;
    text-align: center;
    font-family: play;
    font-style: italic;
}
